/* Global Styles */
body {
    background: #8C53FF; /* Main background color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Default font stack */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}

/* Weather Container Styles */
#weather-container {
    background:rgba(225, 225, 255, 0.3); /* Semi-transparent background */
    max-width: 400px;
    padding: 20px;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 8px 32px rgba(0 , 0, 0, 0.1); /* Subtle shadow for depth */
    backdrop-filter: blur(10px); /* Blur effect for background elements */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border */
    text-align: center;
}

/* Typography */
h2, label, p {
    color: #fff; /* White text for contrast */
    margin: 8px 0; /* Consistent vertical spacing */
}

/* Form Elements */
input {
    width: calc(100% - 16px); /* Full width with padding consideration */
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px; /* Rounded edges */
    border: 1px solid white; /* White border */
    margin-top: 20px; /* Space from previous elements */
}

button {
    background: #debff4; /* Light purple background */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px; /* Rounded edges*/
    cursor: pointer; /* Hand cursor on hover */
    margin-top: 20px; /* Space from previous elements */
    width: 100px; /* Fixed width */
    font-size: 15px;
}

button:hover {
    background: #8b48d7; /* Darker purple on hover */
}

#temp-div p {
    font-size: 60px;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;

}
